doctype html5
html(lang='en')
  head
    // start: Meta
    meta(charset='utf-8')
    title= title
    meta(name='description', content='brewbone brewing co. - good down to the bone.')
    meta(name='author', content='Josh Peltier')
    // end: Meta
    // start: Mobile Specific
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // end: Mobile Specific
    // start: CSS
    link(href='assets/css/bootstrap.min.css', rel='stylesheet')
    link(href='assets/css/style.css', rel='stylesheet')
    link(href='assets/css/retina.min.css', rel='stylesheet')
    // end: CSS
    
    // start: Favicon and Touch Icons
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='assets/ico/apple-touch-icon-144-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='assets/ico/apple-touch-icon-114-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='assets/ico/apple-touch-icon-72-precomposed.png')
    link(rel='apple-touch-icon-precomposed', href='http://localhost:8888/bootstrap/simpliq2/ico/apple-touch-icon-57-precomposed.png')
    link(rel='shortcut icon', href='http://localhost:8888/bootstrap/simpliq2/ico/favicon.png')
    // end: Favicon and Touch Icons
  body
    // start: Header
    header.navbar
      .container
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.sidebar-nav.nav-collapse')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a#main-menu-toggle.hidden-xs.open
          i.icon-reorder
        a.navbar-brand.col-lg-2.col-sm-1.col-xs-12(href='index.html')
          span brewbone
        // start: Header Menu
        .nav-no-collapse.header-nav
          ul.nav.navbar-nav.pull-right
            li.dropdown.hidden-xs
              a.btn.dropdown-toggle(data-toggle='dropdown', href='page-infrastructure.html#')
                i.icon-warning-sign
              ul.dropdown-menu.notifications
                li.dropdown-menu-title
                  span You have 11 notifications
                li
                  a(href='#')
                    span.icon.blue
                      i.icon-user
                    span.message New user registration
                    span.time 1 min
                li.dropdown-menu-sub-footer
                  a View all notifications
            // start: Notifications Dropdown
            li.dropdown.hidden-xs
              a.btn.dropdown-toggle(data-toggle='dropdown', href='page-infrastructure.html#')
                i.icon-tasks
              ul.dropdown-menu.tasks
                li
                  span.dropdown-menu-title You have 17 tasks in progress
                li
                  a(href='#')
                    span.header
                      span.title New blog posts
                      span.percent
                    .taskProgress.progressSlim.progressPink 80
                li
                  a.dropdown-menu-sub-footer View all tasks
            // end: Notifications Dropdown
            // start: User Dropdown
            li.dropdown
              a.btn.account.dropdown-toggle(data-toggle='dropdown', href='#')
                .avatar
                  img(src='assets/img/avatar.jpg', alt='Avatar')
                .user
                  span.hello Welcome!
                  span.name Josh Peltier
              ul.dropdown-menu
                li.dropdown-menu-title
                li
                  a(href='#')
                    i.icon-user
                    | Profile
                li
                  a(href='#')
                    i.icon-cog
                    | Settings
                li
                  a(href='#')
                    i.icon-envelope
                    | Messages
                li
                  a(href='#')
                    i.icon-off
                    | Logout
            // end: User Dropdown
        // end: Header Menu
    // end: Header
    .container
      .row
        // start: Main Menu
        #sidebar-left.col-lg-2.col-sm-1
          // <input type="text" class="search hidden-sm" placeholder="..." />
          .nav-collapse.sidebar-nav.collapse.navbar-collapse.bs-navbar-collapse
            ul.nav.nav-tabs.nav-stacked.main-menu
              li
                a.dropmenu(href='#')
                  i.icon-beaker
                  span.hidden-sm  Brew
                  span.label 5
                ul
                  li
                    a.submenu(href='/brew/')
                      i.icon-dashboard
                      span.hidden-sm  Brewery Control
                  li
                    a.submenu(href='/brew/')
                      i.icon-magic
                      span.hidden-sm  BreWizard
                  li
                    a.submenu(href='/mash-profiles/')
                      i.icon-tags
                      span.hidden-sm  Mash Profiles
                  li
                    a.submenu(href='/inventory/')
                      i.icon-shopping-cart
                      span.hidden-sm  Inventory
                  li
                    a.submenu(href='/ingredients/')
                      i.icon-leaf
                      span.hidden-sm  Ingredients
              li
                a(href='/ferment/')
                  i.icon-random
                  span.hidden-sm  Ferment
              li
                a(href='/drink/')
                  i.icon-beer
                  span.hidden-sm  Drink
              li
                a.dropmenu(href='#')
                  i.icon-edit
                  span.hidden-sm  Recipes
                  span.label 2
                ul
                  li
                    a.submenu(href='/recipes/')
                      i.icon-eye-open
                      span.hidden-sm  View
                  li
                    a.submenu(href='/recipe-create/')
                      i.icon-plus
                      span.hidden-sm  Create
                  li
                    a.submenu(href='/recipe-import/')
                      i.icon-cloud-upload
                      span.hidden-sm  Import
              li
                a(href='/batches/')
                  i.icon-calendar
                  span.hidden-sm  Batch History
              li
                a.dropmenu(href='#')
                  i.icon-cogs
                  span.hidden-sm  Settings
                  span.label 2
                ul
                  li
                    a.submenu(href='/config/')
                      i.icon-cog
                      span.hidden-sm  Brewbone Config
                  li
                    a.submenu(href='/users/')
                      i.icon-user
                      span.hidden-sm  Users
        // end: Main Menu
        // start: Content
        #content.col-lg-10.col-sm-11
            block content
        // end: Content
    .clearfix
    footer
      p
        span(style='text-align: left; float: left;')
          | © 2013 Josh Peltier
        span.hidden-phone(style='text-align: right; float: right;')
          | Powered by: brewbone
    // start: JavaScript
    //if !IE
    script(src='assets/js/jquery-2.0.3.min.js')
    // <![endif]
    //if IE
      script(src='assets/js/jquery-1.10.2.min.js')
    //if !IE
    script(type='text/javascript')
      window.jQuery || document.write("<script src='assets/js/jquery-2.0.3.min.js'>" + "<" + "/script>");
    // <![endif]
    //if IE
      script(type='text/javascript')
        window.jQuery || document.write("<script src='assets/js/jquery-1.10.2.min.js'>"+"<"+"/script>");
    script(src='assets/js/jquery-migrate-1.2.1.min.js')
    script(src='assets/js/bootstrap.min.js')
    script(src='assets/js/underscore-min.js')
    // page scripts
    script(src='assets/js/jquery-ui-1.10.3.custom.min.js')
    script(src='assets/js/jquery.ui.touch-punch.min.js')
    //script(src='assets/js/jquery.knob.modified.min.js')
    script(src='assets/js/jquery.knob.min.js')
    script(src='assets/js/jquery.sparkline.min.js')
    script(src='assets/js/jquery.autosize.min.js')
    script(src='assets/js/jquery.placeholder.min.js')
    //if lte IE 8
      script(language='javascript', type='text/javascript', src='assets/js/excanvas.min.js')
    script(src='assets/js/jquery.flot.min.js')
    script(src='assets/js/jquery.flot.pie.min.js')
    script(src='assets/js/jquery.flot.stack.min.js')
    script(src='assets/js/jquery.flot.resize.min.js')
    script(src='assets/js/jquery.flot.time.min.js')
    script(src='assets/js/counter.min.js')
    script(src='assets/js/jquery.noty.min.js')
    script(src='assets/js/jquery.raty.min.js')
    script(src='assets/js/jquery.gritter.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='assets/js/brewbone-client.js')
    // theme scripts
    script(src='assets/js/custom.min.js')
    script(src='assets/js/core.min.js')
    // inline scripts related to this page
    block page-scripts
    // end: JavaScript
